<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Possible values for Accept is JSON or XML--><!--
    <add key="Accept" value="XML"/>-->
    <add key="ContentType" value="application/json"/>
    <add key="AcceptType" value="application/json"/>
    <add key="BaseAddress" value="https://restful-booker.herokuapp.com/"/>
    <add key="UserName" value="admin"/>
    <add key="Password" value="password123"/>
  </appSettings>
</configuration>